%p= @invitation.d_day
%p= @invitation.title
%p= image_tag @invitation.thumb, style: 'width: 300px; height: auto;'
%p= @invitation.description
%p= @invitation.directions
%p= @invitation.contact_bride
%p= @invitation.contact_groom
%p= @invitation.contact_other

= link_to 'Edit', edit_invitation_path(@invitation)
\|
= link_to 'Back', root_path
