!!!
%html
	%head
		%title MoCheong
		= csrf_meta_tags
		= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		%nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
			%a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} MoCheong
		.container-fluid
			.row
				= render 'header'
				%main.col-md-9.ml-sm-auto.col-lg-10.px-4{:role => "main"}
					= yield

					
